<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout/main}"
 th:with="module='业务管理',functionName='续费管理',smallTitle=''">

<head>
	<title>续费管理</title>
	<link rel="stylesheet" th:href="@{/bower_components/bootstrap-dialog/dist/css/bootstrap-dialog.css}">
	<link rel="stylesheet" th:href="@{/bower_components/bootstrap-table/dist/bootstrap-table.css}">
</head>

<body>
	<div class="container-fluid" layout:fragment="doBody">
		<div class="form-inline" role="form">
			<div class="form-group">
				<label>类别：</label>
				<select id="ds_payType" name="ds_payType" class="form-control">
					<option value=""> -- 请选择 -- </option>
					<option th:each="t:${ds_payType}" th:value="${t.value}" th:text="${t.name}"></option>
				</select>
			</div>
			<div class="form-group">
				<label>状态：</label>
				<select id="ds_approved" name="ds_approved" class="form-control">
					<option value=""> -- 请选择 -- </option>
					<option th:each="t:${ds_approved}" th:value="${t.value}" th:text="${t.name}"></option>
				</select>
			</div>
			<div class="form-group">
				<label>公司名称：</label>
				<input type="text" class="form-control" id="entName">
			</div>
			<button id="btnSearch" class="btn btn-default"><i class="glyphicon glyphicon-search" style="padding-right: 3px;"></i><span>搜索</span></button>
		</div>
		<table data-toggle="table" id="tbl" data-toolbar="" data-show-export="true" data-cache="false" data-search="false"
		 data-search-on-enter-key="false" data-show-refresh="true" data-id-field="id" data-click-to-select="true"
		 data-single-select="true" data-striped="true" data-sort-name="payDate" data-sort-order="desc" data-show-columns="true"
		 data-select-item-name="myRadioName" data-side-pagination="server" data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]"
		 th:data-url="@{/mgn/biz/bizPayment/GetData}" data-query-params="queryParams">
			<thead>
				<tr>
					<th data-field="payCode" data-halign="center" data-align="left" data-sortable="true">汇款编号</th>
					<th data-field="sysMember.name" data-halign="center" data-align="left" data-sortable="true">企业名称</th>	
					<th data-field="payType" data-halign="center" data-align="left" data-sortable="true" data-formatter="payTypeFormatter">类别</th>
					<th data-field="payQty" data-halign="center" data-align="left" data-sortable="true">数量</th>
					<th data-field="payMoney" data-halign="center" data-align="left" data-sortable="true">金额</th>
					<th data-field="payDate" data-halign="center" data-align="left" data-sortable="true">汇款日期</th>
					<th data-field="approved" data-halign="center" data-align="left" data-sortable="true" data-formatter="approvedFormatter">状态</th>
					<th data-field="appproveTime" data-halign="center" data-align="left" data-sortable="true">审核时间</th>
					<th data-field="operate" data-halign="center" data-align="center" data-formatter="operateOnlyApproveFormatter" data-events="operateEvents">操作</th>
				</tr>
			</thead>
		</table>
	</div>
	<th:block layout:fragment="script">
		<script th:src="@{/bower_components/bootstrap-dialog/dist/js/bootstrap-dialog.js}"></script>
		<script th:src="@{/js/bootstrap-dialog-zh-CN.js}"></script>
		<script th:src="@{/js/bootstrap-dialog-Ext.js}"></script>
		<script th:src="@{/bower_components/bootstrap-table/dist/bootstrap-table.js}"></script>
		<script th:src="@{/bower_components/bootstrap-table/dist/extensions/export/bootstrap-table-export.js}"></script>
		<script th:src="@{/bower_components/tableExport.jquery.plugin/tableExport.js}"></script>
		<script th:src="@{/bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js}"></script>		
		<script type="text/javascript">
			$(function () {
				$('#btnSearch').click(function () {
					refresh();
				});
			});

			function queryParams(params) {
				var o=params;
				var c = $('select[name=ds_payType]').val();
				if(c!=''){
					o = $.extend(o, { type: c });
				}
				c = $('select[name=ds_approved]').val();
				if(c!=''){
					o = $.extend(o, { state: c });
				}
				o = $.extend(o, { entName: $('#entName').val() });			
				return o;
			}
			window.operateEvents = {
				'click .approve': function (e, value, row, index) {
					window.location.href = ctx + "mgn/biz/biz_payment_approve.html?id=" + row.id;
				}
			};

			function payTypeFormatter(value, row, index, type) {
				switch (value) {
					case 0:
						return '生码续费';
					case 1:
						return '账户有效期续费';
					case 2:
						return '账户余额充值';
					default:
						return '';
				}
			}
			function approvedFormatter(value, row, index, type) {
				switch (value) {
					case 0:
						return '未审核';
					case 1:
						return '已审核';
					case 2:
						return '已拒绝';
					default:
						return '';
				}
			}

			function refresh() {
				$('#tbl').bootstrapTable('refresh');
			}
		</script>
	</th:block>
</body>

</html>