<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout/main}"
 th:with="module='系统管理',functionName='企业会员类型',smallTitle='企业会员类型'">

<head>
	<title>企业会员类型</title>
	<link rel="stylesheet" th:href="@{/bower_components/bootstrap-table/dist/bootstrap-table.css}">
	<link rel="stylesheet" th:href="@{/bower_components/bootstrap-dialog/dist/css/bootstrap-dialog.css}">
</head>

<body>

	<div class="container-fluid" layout:fragment="doBody">
		<div id="toolbar" class="btn-group">
			<button type="button" id="addNew" class="btn btn-default">
				<i class="glyphicon glyphicon-plus" style="padding-right: 3px;"></i><span>新增</span>
			</button>
		</div>
		<table id="tbl" data-toolbar="#toolbar" data-show-export="true" data-cache="false" data-search="true"
		 data-search-on-enter-key="false" data-show-refresh="true" data-id-field="id" data-click-to-select="true"
		 data-single-select="true" data-striped="true" data-sort-name="id" data-sort-order="asc" data-show-columns="true"
		 data-side-pagination="server" data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]" th:data-url="@{/mgn/system/dictMemberType/GetData}">
		</table>

		<!--/* 编辑主条目 */-->
		<div id="app" class="container" style="display: none;">
			<form id="dlgEdit" class="form-horizontal">
				<div class="form-group">
					<label for="editForm_name" class="col-sm-2 control-label">名称</label>
					<div class="col-sm-9">
						<input required type="text" class="form-control" id="editForm_name" v-model="name">
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="show-error">
						<label for="editForm_freeCodeQty" class="col-sm-2 control-label">免费码量</label>
						<div class="col-sm-2">
							<input required type="number" min=0 class="form-control" id="editForm_freeCodeQty" v-model="freeCodeQty"></input>
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="show-error">
						<label for="editForm_holdTime" class="col-sm-2 control-label">保存期限(月)</label>
						<div class="col-sm-2">
							<input required type="number" min=0 class="form-control" id="editForm_holdTime" v-model="holdTime"></input>
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="checkbox col-sm-2">
						<label><input data-validate="false" type="checkbox" id="editForm_isDefault" v-model="isDefault">默认类型</label>
					</div>
				</div>
				<div class="form-group">
					<label for="editForm_comment" class="col-sm-2 control-label">备注</label>
					<div class="col-sm-9">
						<textarea class="form-control" rows="3" id="editForm_comment" v-model="comment"></textarea>
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="box box-default">
							<div class="box-header with-border">
								<i class="fa fa-money"></i>
								<h3 class="box-title" style="font-size: 15px;">平台价格</h3>
								<div class="box-tools">
									<button type="button" id="tblPlatformPrice_addNew" class="btn btn-default">
										<i class="fa fa-plus"></i>
									</button>
								</div>
							</div>
							<div class="box-body">
								<table id="tblPlatformPrice" data-toggle="table" data-id-field="id" data-click-to-select="true"
								 data-single-select="true" data-checkbox-header="false" data-sort-name="qty">
									<thead>
										<tr>
											<th data-field="qty" data-halign="center" data-align="left">月数</th>
											<th data-field="price" data-halign="center" data-align="left">价格</th>
											<th data-field="Action" data-align="center" data-formatter="gridAction_Platform" data-events="priceOperateEvents">操作</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="box box-default">
							<div class="box-header with-border">
								<i class="fa fa-qrcode"></i>
								<h3 class="box-title" style="font-size: 15px;">码量价格</h3>
								<div class="box-tools">
									<button type="button" id="tblCodePrice_addNew" class="btn btn-default">
										<i class="fa fa-plus"></i>
									</button>
								</div>
							</div>
							<div class="box-body">
								<table id="tblCodePrice" data-toggle="table" data-id-field="id" data-click-to-select="true" data-single-select="true"
								 data-checkbox-header="false" data-sort-name="qty">
									<thead>
										<tr>
											<th data-field="qty" data-halign="center" data-align="left">数量</th>
											<th data-field="price" data-halign="center" data-align="left">价格</th>
											<th data-field="Action" data-align="center" data-formatter="gridAction_Code" data-events="priceOperateEvents">操作</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>

				</div>
			</form>
			<!--/* 编辑价格 */-->
			<div class="container" style="display: none;">
				<form id="dlgEditPrice" class="form-horizontal">
					<div class="form-group">
						<label id="lblQty" for="editPriceForm_Qty" class="col-sm-2 control-label">数量</label>
						<div class="col-sm-9">
							<input required type="number" min=0 class="form-control" id="editPriceForm_Qty" name="qty">
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="show-error">
							<label for="editPriceForm_Price" class="col-sm-2 control-label">价格</label>
							<div class="col-sm-9">
								<input required type="number" min=0 class="form-control" id="editPriceForm_Price" name="price"></input>
								<div class="help-block with-errors"></div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
	
	<th:block layout:fragment="script">
		<script th:src="@{/bower_components/bootstrap-table/dist/bootstrap-table.js}"></script>
		<script th:src="@{/bower_components/bootstrap-table/dist/extensions/export/bootstrap-table-export.js}"></script>
		<!--/* https://github.com/hhurz/tableExport.jquery.plugin */-->
		<script th:src="@{/bower_components/tableExport.jquery.plugin/tableExport.js}"></script>
		<script th:src="@{/bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js}"></script>
		<script th:src="@{/bower_components/bootstrap-dialog/dist/js/bootstrap-dialog.js}"></script>
		<script th:src="@{/js/bootstrap-dialog-zh-CN.js}"></script>
		<script th:src="@{/js/bootstrap-dialog-Ext.js}"></script>
		<script th:src="@{/bower_components/bootstrap-validator/dist/validator.custom.js}"></script>
		<script th:src="@{/bower_components/vue/dist/vue.js}"></script>
		<script type="text/javascript">
			$(function () {
				$('#tbl').bootstrapTable({
					columns: [{
						field: 'id',
						title: '编号',
						halign: 'center',
						class: 'col-xs-1',
						sortable: true
					}, {
						field: 'name',
						title: '名称',
						halign: 'center',
						class: 'col-xs-2',
						sortable: true
					}, {
						field: 'freeCodeQty',
						title: '免费码量',
						align: 'center',
						class: 'col-xs-1',
						sortable: true
					}, {
						field: 'holdTime',
						title: '保存期限(月)',
						align: 'center',
						class: 'col-xs-1',
						sortable: true
					}, {
						field: 'isDefault',
						title: '默认类型',
						align: 'center',
						class: 'col-xs-1',
						sortable: true,
						formatter: 'boolToString'
					}, {
						field: 'comment',
						title: '备注',
						halign: 'center',
						class: 'col-xs-5',
						sortable: true
					}, {
						field: 'operate',
						title: '操作',
						align: 'center',
						class: 'col-xs-1',
						formatter: gridAction_Main,
						events: operateEvents
					}
					]
				});
				$('#addNew').click(function () {
					edit();
				});
				$('#tblPlatformPrice_addNew').click(function (s) {
					editPrice(null, 1);
				});
				$('#tblCodePrice_addNew').click(function (s) {
					editPrice(null, 2);
				});

			});

			function defaultData() {
				return {
					comment: '',
					freeCodeQty: '',
					holdTime: '',
					id: 0,
					isDefault: false,
					isDeleted: false,
					name: '',
					version: 0,
					dictMemberPrices: []

				}
			}

			var vm = new Vue({
				el: '#app',
				data: defaultData(),
				methods: {
					resetData: function () {
						Object.assign(this.$data, this.$options.data())
					}
				}
			});
			function operateFormatter(value, row, index, type) {
				return [
					'<a class="edit" href="javascript:void(0)" title="编辑">',
					'<i class="glyphicon glyphicon-pencil" data-type=' + type + '></i>',
					'</a>  ',
					'<a class="remove" href="javascript:void(0)" title="删除">',
					'<i class="glyphicon glyphicon-trash" data-type=' + type + '></i>',
					'</a>'
				].join('');
			}

			function gridAction_Main(value, row, index) {
				return operateFormatter(value, row, index, 0)
			}
			function gridAction_Platform(value, row, index) {
				return operateFormatter(value, row, index, 1)
			}
			function gridAction_Code(value, row, index) {
				return operateFormatter(value, row, index, 2)
			}

			window.operateEvents = {
				'click .edit': function (e, value, row, index) {
					edit(row);
				},
				'click .remove': function (e, value, row, index) {
					$.showConfirm("确定要删除'" + row.name + "'吗?", function () {
						$.get(ctx + "mgn/system/dictMemberType/Delete/" + row.id)
							.done(function (d) {
								$.showSuccessTimeout('删除操作成功！');
								$('#tbl').bootstrapTable('remove', {
									field: 'id',
									values: [row.id]
								});
							})
							.fail(function (e) {
								$.showErr("执行操作失败!");
							});
					});
				}
			};

			window.priceOperateEvents = {
				'click .edit': function (e, value, row, index) {
					var type = e.target.getAttribute("data-type");
					editPrice(row, type);
				},
				'click .remove': function (e, value, row, index) {
					var type = e.target.getAttribute("data-type");
					$.showConfirm("确定要删除吗?", function () {
						if (row.id == 0) {
							for (var i = 0; i < vm.dictMemberPrices.length; i++) {
								if (vm.dictMemberPrices[i] == row) {
									vm.dictMemberPrices.splice(i, 1);
									break;
								}
							}
						}
						else {
							row.isDeleted = true;
						}
						refreshPriceTable();
					});
				}
			};

			function edit(row) {
				var form = $('#dlgEdit');
				form.validator('destroy');
				form.validator('update');
				if (row) {
					Object.assign(vm.$data, row)
				}
				else {
					vm.resetData();
				}
				refreshPriceTable();
				var showOpt = {
					data: row,
					buttons: [{
						icon: 'glyphicon glyphicon-saved',
						label: '确定',
						cssClass: 'btn-primary',
						action: function (dialog) {
							form.validator('validate');
							if (form.data('bs.validator').validate().hasErrors()) {
								return;
							}

							$.ajax({
								type: 'POST',
								url: ctx + 'mgn/system/dictCommon/Save',
								data: JSON.stringify(d),
								dataTye: 'json',
								contentType: 'application/json; charset=UTF-8'
							})
								.done(function (r) {
									refresh();
									dialog.close();
								})
								.fail(function (e) {
									$.showErr(e.responseText);
								});
						}
					}, {
						icon: 'glyphicon glyphicon-ban-circle',
						label: '取消',
						action: function (dialog) {
							refresh();
							dialog.close();
						}
					}],
					message: function (dialog) {
						var $d = $('#dlgEdit');
						return $d;
					},
					title: row ? '修改' : '新增',
					draggable: true,
					closeByBackdrop: false,
					autodestroy: false,
					size: BootstrapDialog.SIZE_WIDE
				};
				BootstrapDialog.show(showOpt);
			}

			function refreshPriceTable() {
				$('#tblCodePrice').bootstrapTable('load', vm.dictMemberPrices)
				$('#tblPlatformPrice').bootstrapTable('load', vm.dictMemberPrices)
				$('#tblPlatformPrice').bootstrapTable('filterBy', { isDeleted: false, type: 1 });
				$('#tblCodePrice').bootstrapTable('filterBy', { isDeleted: false, type: 2 });
			}

			function editPrice(row, t) {
				var addNew = false;
				if (t == 1) {
					$('#lblQty').html('月数');
				}
				else {
					$('#lblQty').html('数量');
				}
				if (!row) {
					addNew = true;
					row = {
						comment: '',
						id: 0,
						isDeleted: false,
						price: '',
						qty: '',
						type: t,
						version: 0
					};
				}
				$('#editPriceForm_Qty').val(row.qty);
				$('#editPriceForm_Price').val(row.price);

				var form = $('#dlgEditPrice');
				form.validator('destroy');
				form.validator('update');
				var showOpt = {
					buttons: [{
						icon: 'glyphicon glyphicon-saved',
						label: '确定',
						cssClass: 'btn-primary',
						action: function (dialog) {
							form.validator('validate');
							if (form.data('bs.validator').validate().hasErrors()) {
								return;
							}
							row.qty = $('#editPriceForm_Qty').val();
							row.price = $('#editPriceForm_Price').val();
							if (addNew) {
								vm.$data.dictMemberPrices.push(row);
							}
							refreshPriceTable();
							dialog.close();
						}
					}, {
						icon: 'glyphicon glyphicon-ban-circle',
						label: '取消',
						action: function (dialog) {
							dialog.close();
						}
					}],
					message: function (dialog) {
						var $d = $('#dlgEditPrice');
						return $d;
					},
					title: row ? '修改' : '新增',
					draggable: true,
					closeByBackdrop: false,
					autodestroy: false
				};
				BootstrapDialog.show(showOpt);
			}
			function refresh() {
				$('#tbl').bootstrapTable('refresh');
			}
		</script>
	</th:block>
</body>

</html>