<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{_layout/main}"
	th:with="module='系统管理',functionName='通用字典',smallTitle='字典列表'">
<head>
<title>通用字典管理</title>
	<link rel="stylesheet" th:href="@{/bower_components/bootstrap-table/dist/bootstrap-table.css}">
	<link rel="stylesheet" th:href="@{/bower_components/bootstrap-dialog/dist/css/bootstrap-dialog.css}">
</head>
<body>
	<div layout:fragment="doBody">
		<div class="container-fluid">
			<div class="form-inline" role="form">
				<div class="form-group">
					<label for="ds_type">字典类型：</label> 
					<select id="ds_type" name="ds_type" class="form-control">
						<option th:each="t:${dictType}" th:value="${t.value}" th:text="${t.name}"></option>
					</select>
				</div>
				<div class="form-group" style="display: none">
					<label for="ds_status">状态：</label> 
					<select id="ds_status" name="ds_status" class="form-control">
						<option>启用</option>
						<option>停用</option>
					</select>
				</div>
				<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search" style="padding-right: 3px;"></i><span>搜索</span></button>
			</div>
		</div>
		<div class="row" style="padding-top: 5px;">
			<div class="col-md-12">
				<div id="toolbar" class="btn-group">
					<button type="button" id="addNew" class="btn btn-default">
						<i class="glyphicon glyphicon-plus" style="padding-right: 3px;"></i><span>新增</span>
					</button>
				</div>
				<table id="tbl" 
					data-toolbar="#toolbar" 					
					data-show-export="true"
					data-cache="false" 
					data-pagination="true"
					data-side-pagination="server" 
					data-search="true"
					data-search-on-enter-key="false" 
					data-show-refresh="true"
					data-show-pagination-switch="true" 
					data-id-field="id"
					data-click-to-select="true" 
					data-single-select="true"
					data-striped="true" 
					data-sort-name="code" 
					data-sort-order="asc"
					data-show-columns="true" 
					data-select-item-name="myRadioName"
					th:data-url="@{/mgn/system/dictCommon/GetData}"
					data-query-params="queryParams">
				</table>
			</div>

		</div>

	</div>
	<th:block layout:fragment="script">	
		<script th:src="@{/bower_components/bootstrap-table/dist/bootstrap-table.js}"></script>
		<script th:src="@{/bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js}"></script>
		<script th:src="@{/bower_components/bootstrap-dialog/dist/js/bootstrap-dialog.js}"></script>
		<script th:src="@{/js/bootstrap-dialog-zh-CN.js}"></script>
		<script th:src="@{/js/bootstrap-dialog-Ext.js}"></script>        			
		<script type="text/javascript">
		$(function(){
			$('#tbl').bootstrapTable({
				columns:[{
					field:'code',
					title:'代码',
					haligh:'center',
					aligh:'center',
					class:'col-xs-3',
					sortable:true
				},{
					field:'name',
					title:'名称',
					haligh:'center',
					aligh:'center',
					class:'col-xs-3',
					sortable:true					
				}
				,{
					field:'comment',
					title:'备注',
					haligh:'center',
					aligh:'left',
					class:'col-xs-3',
					sortable:true					
				},{
					field:'operate',
					title:'操作',
					align:'center',
					class:'col-xs-3',
					formatter: operateFormatter,
					events: operateEvents
				}
				]
			});
			
			$('#addNew').click(function(){
				edit();
			});
		});
		
	    function queryParams(params) {
			var type = $('select[name=ds_type]').val();
	        var o = $.extend(params, { type:  type});
	        return o;
	    }
	    function operateFormatter(value, row, index) {
	        return [
	            '<a class="edit" href="javascript:void(0)" title="编辑">',
	            '<i class="glyphicon glyphicon-pencil"></i>',
	            '</a>  ',
	            '<a class="remove" href="javascript:void(0)" title="删除">',
	            '<i class="glyphicon glyphicon-trash"></i>',
	            '</a>'
	        ].join('');
	    }
	    window.operateEvents = {
	            'click .edit': function (e, value, row, index) {
					edit(row);
	            },
	            'click .remove': function (e, value, row, index) {
	            	$.showConfirm("确定要删除'"+row.name+"'吗?",function(){
		            	$.get(ctx+"mgn/system/dictCommon/Delete/"+row.id)
		            	.done(function(d){
		            		if (d.flag){	            			
		            			$.showSuccessTimeout(d.content);
		    	            	$('#tbl').bootstrapTable('remove', {
		    	                    field: 'id',
		    	                    values: [row.id]
		    	                });	
		            		}
		            	})
		            	.fail(function(e){
		            		$.showErr("执行操作失败!");
		            	});	
	            	});
	            }
	        };
	    
		function edit(row){
        	var showOpt = {
                    buttons: [{
                        icon: 'glyphicon glyphicon-saved',
                        label: '确定',
                        cssClass: 'btn-primary',
                        action: function (dialog) {
                        	var form=$('#editForm');
                        	/*
                        	$('#editForm').validator().on('submit', function (e) {
                        		  if (e.isDefaultPrevented()) {
                        		    // handle the invalid form...
                        		  } else {
                        		    // everything looks good!
                        		  }
                        		});
                        	$('#editForm').submit();
                        	form.validator('update').on('valid.bs.validator', function (e) {
                        		console.log('ok');
                            });    */                    	
                        	form.validator('validate');
                        	if(form.data('bs.validator').validate().hasErrors()){
                        		return;
                        	}
                        	var d={id:0};
                        	if(row){
                        		d.id=row.id;
                        	}
                        	d.code=$('#editForm_code').val();
                        	d.code=$('#editForm_code').val();
                        	d.name=$('#editForm_name').val();
                        	d.comment=$('#editForm_comment').val();
                        	d.dictType=$('select[name=ds_type]').val();
                        	d.isDeleted=false;
                        	
                        	$.ajax({
                        		type:'POST',
                        		url:ctx+'mgn/system/dictCommon/Save',
                        		data:JSON.stringify(d),
                        		dataTye:'json',
                        		contentType:'application/json; charset=UTF-8'
                        	})
                        	.done(function(r){
                        		console.log(r);
                        	})
                        	.fail(function(e){
								console.log(e);
                        	});
                        }                    	
                    }, {
                        icon: 'glyphicon glyphicon-ban-circle',
                        label: '取消',
                        action: function (dialog) {
                            dialog.close();
                        }
                    }],
                    message: function (dialog) {
                        var $d = $('<div></div>');
                        var page = ctx+'mgn/system/dict_common_form.html';
                        if(row){
                        	page+='?id='+ row.id;
                        }
                        $d.load(page);
                        return $d;
                    },
                    title: '修改',
                    draggable: true,
                    closeByBackdrop: false
                };
            BootstrapDialog.show(showOpt);			
		}		
		</script>
	</th:block>
</body>
</html>