<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{_layout/main}"
	th:with="module='系统管理',functionName='企业会员类型',smallTitle='企业会员类型'">
<head>
<title>通用字典管理</title>
	<link rel="stylesheet" th:href="@{/bower_components/bootstrap-table/dist/bootstrap-table.css}">
	<link rel="stylesheet" th:href="@{/bower_components/bootstrap-dialog/dist/css/bootstrap-dialog.css}">
</head>
<body>
	
	<div class="container-fluid" layout:fragment="doBody">		
		<div id="toolbar" class="btn-group">
			<button type="button" id="addNew" class="btn btn-default">
				<i class="glyphicon glyphicon-plus" style="padding-right: 3px;"></i><span>新增</span>
			</button>
		</div>
		<table id="tbl" 
			data-toolbar="#toolbar" 					
			data-show-export="true"
			data-cache="false" 					
			data-search="true"
			data-search-on-enter-key="false" 
			data-show-refresh="true"
			data-id-field="id"
			data-click-to-select="true" 
			data-single-select="true"
			data-striped="true" 
			data-sort-name="id" 
			data-sort-order="asc"
			data-show-columns="true" 
			data-select-item-name="myRadioName"
			data-side-pagination="server" 
			data-pagination="true"
			data-page-list="[10, 25, 50, 100, ALL]"		           			           						
			th:data-url="@{/mgn/system/dictMemberType/GetData}">
		</table>
		
		<div id="divForm" class="container" style="display: none;">
			<form id="editForm" class="form-horizontal">
				<div class="form-group">
					<label for="code" class="col-sm-2 control-label">名称</label>
					<div class="col-sm-9">
						<input required type="text" class="form-control" id="editForm_name" name="name">
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="show-error">
						<label for="editForm_freeCodeQty" class="col-sm-2 control-label">免费码量</label>
						<div class="col-sm-2">
							<input required type="text" class="form-control" id="editForm_freeCodeQty" name="freeCodeQty">
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="show-error">
						<label for="editForm_holdTime" class="col-sm-2 control-label">保存期限(月)</label>
						<div class="col-sm-2">
							<input required type="text" class="form-control" id="editForm_holdTime" name="holdTime">
							<div class="help-block with-errors"></div>
						</div>
					</div>				
					<div class="checkbox col-sm-2">
						<label><input data-validate="false" type="checkbox" id="editForm_isDefault" name="isDefault">默认类型</label> 
					</div>										
				</div>
				<div class="form-group">
					<label for="editForm_comment" class="col-sm-2 control-label">备注</label>
					<div class="col-sm-9">
						<textarea class="form-control" rows="3" id="editForm_comment" name="editForm_comment"></textarea>
						<div class="help-block with-errors"></div>
					</div>
				</div>
			</form>	
		</div>				
	</div>
	
	
	<th:block layout:fragment="script">	
		<script th:src="@{/bower_components/bootstrap-table/dist/bootstrap-table.js}"></script>		
		<script th:src="@{/bower_components/bootstrap-table/dist/extensions/export/bootstrap-table-export.js}"></script>
		<!--/* https://github.com/hhurz/tableExport.jquery.plugin */-->
		<script th:src="@{/bower_components/tableExport.jquery.plugin/tableExport.js}"></script>	
		<script th:src="@{/bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js}"></script>
		<script th:src="@{/bower_components/bootstrap-dialog/dist/js/bootstrap-dialog.js}"></script>
		<script th:src="@{/js/bootstrap-dialog-zh-CN.js}"></script>
		<script th:src="@{/js/bootstrap-dialog-Ext.js}"></script>    
		<script th:src="@{/bower_components/bootstrap-validator/dist/validator.custom.js}"></script>    			
		<script type="text/javascript">
		$(function(){
			$('#tbl').bootstrapTable({
				columns:[{
					field:'id',
					title:'编号',
					halign:'center',
					class:'col-xs-1',
					sortable:true
				},{
					field:'name',
					title:'名称',
					halign:'center',
					class:'col-xs-2',
					sortable:true					
				},{
					field:'freeCodeQty',
					title:'免费码量',
					align:'center',
					class:'col-xs-1',
					sortable:true					
				},{
					field:'holdTime',
					title:'保存期限',
					align:'center',
					class:'col-xs-1',
					sortable:true					
				},{
					field:'isDefault',
					title:'默认类型',
					align:'center',
					class:'col-xs-1',
					sortable:true,
					formatter:'boolToString'
				},{
					field:'comment',
					title:'备注',
					halign:'center',
					class:'col-xs-5',
					sortable:true					
				},{
					field:'operate',
					title:'操作',
					align:'center',
					class:'col-xs-1',
					formatter: operateFormatter,
					events: operateEvents
				}
				]
			});
			$('#addNew').click(function(){
				edit();
			});
		});	
		
	    function operateFormatter(value, row, index) {
	        return [
	            '<a class="edit" href="javascript:void(0)" title="编辑">',
	            '<i class="glyphicon glyphicon-pencil"></i>',
	            '</a>  ',
	            '<a class="remove" href="javascript:void(0)" title="删除">',
	            '<i class="glyphicon glyphicon-trash"></i>',
	            '</a>'
	        ].join('');
	    }
	    window.operateEvents = {
	            'click .edit': function (e, value, row, index) {
					edit(row);
	            },
	            'click .remove': function (e, value, row, index) {
	            	$.showConfirm("确定要删除'"+row.name+"'吗?",function(){
		            	$.get(ctx+"mgn/system/dictCommon/Delete/"+row.id)
		            	.done(function(d){
	            			$.showSuccessTimeout('删除操作成功！');
	    	            	$('#tbl').bootstrapTable('remove', {
	    	                    field: 'id',
	    	                    values: [row.id]
	    	                });	
		            	})
		            	.fail(function(e){
		            		$.showErr("执行操作失败!");
		            	});	
	            	});
	            }
	        };
	    
		function edit(row){
			var form=$('#editForm');
			form.validator('destroy');
			form.validator('update');
        	var showOpt = {
                    buttons: [{
                        icon: 'glyphicon glyphicon-saved',
                        label: '确定',
                        cssClass: 'btn-primary',
                        action: function (dialog) {                        	
                        	form.validator('validate');
                        	if(form.data('bs.validator').validate().hasErrors()){
                        		return;
                        	}
                        	var d={id:0};
                        	if(row){
                        		d.id=row.id;
                        		d.version=row.version;
                        	}
                        	d.code=$('#editForm_code').val();
                        	d.name=$('#editForm_name').val();
                        	d.comment=$('#editForm_comment').val();
                        	d.dictType=$('select[name=ds_type]').val();
                        	d.isDeleted=false;
                        	
                        	$.ajax({
                        		type:'POST',
                        		url:ctx+'mgn/system/dictCommon/Save',
                        		data:JSON.stringify(d),
                        		dataTye:'json',
                        		contentType:'application/json; charset=UTF-8'
                        	})
                        	.done(function(r){
                        		refresh();
                        		dialog.close();
                        	})
                        	.fail(function(e){
                        		$.showErr(e.responseText);
                        	});
                        }                    	
                    }, {
                        icon: 'glyphicon glyphicon-ban-circle',
                        label: '取消',
                        action: function (dialog) {
                            dialog.close();
                        }
                    }],
                    message: function (dialog) {
                        var $d = $('#editForm');
                        return $d;
                    },
                    title: row?'修改':'新增',
                    draggable: true,
                    closeByBackdrop: false,
                    autodestroy:false,
                    size:BootstrapDialog.SIZE_WIDE
                };
            BootstrapDialog.show(showOpt);			
		}
		function refresh(){
			$('#tbl').bootstrapTable('refresh');
		}
		</script>
	</th:block>
</body>
</html>