<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>500</title>
  
</head>
<body>
	<p><span>custom 500 page</span></p>
	
	<div th:utext="'&lt;!--'" th:remove="tag"></div>
	<div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
	<div th:utext="'Exception: ' + ${exception.message}" th:remove="tag">${exception.message}</div>
	<ul th:remove="tag">
		<li th:each="ste : ${exception.stackTrace}" th:remove="tag"><span
			th:utext="${ste}" th:remove="tag">${ste}</span></li>
	</ul>
	<div th:utext="'--&gt;'" th:remove="tag"></div>	
</body>
</html>